<h1><center> Data Analysis: Introduction to Pandas </center></h1>

<h2> Part I. Filtering and Sorting Data </h2>

<i>Example 1. Import the necessary libraries</i>

In [5]:
import pandas as pd

<i>Example 2. Import the dataset from the local file </i>

In [6]:
order_list = pd.read_csv('./order_list.csv', sep = '\t')

<b>Exercise 1. Display the first 5 orders of the dataset.</b>

In [10]:
order_list.head(5)

,id,quantity,food,description,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

<b>Exercise 2. What is the number of rows in the dataset?</b>

In [11]:
num_rows = len(order_list)
print(f"Number of rows: {num_rows}")

Number of rows: 4622

<b>Exercise 3. What is the number of columns in the dataset?</b>

In [12]:
num_columns = len(order_list.columns)
print(f"Number of columns: {num_columns}")

Number of columns: 5

<b>Exercise 4. Display the name of each column.</b>

In [13]:
print("Column names:")
print(order_list.columns.tolist())

Column names:
['id', 'quantity', 'food', 'description', 'unit_price']

<b>Exercise 5. Display the <i>"food"</i> which has the highest number of orders?

In [21]:
most_ordered_food = order_list['food'].value_counts().idxmax()
print(f"Most ordered food: {most_ordered_food}")

Most ordered food: Chicken Bowl

<b>Exercise 5. How many items were ordered for the most-ordered item?

In [16]:
max_orders = order_list['food'].value_counts().max()
print(f"Number of times the most-ordered item was ordered: {max_orders}")

Number of times the most-ordered item was ordered: 726

<b>Exercise 6. Display the <i>"description"</i> which has the highest number of orders?</b>

In [29]:
display(order_list['description'].value_counts().head(1))

description
[Diet Coke]    134
Name: count, dtype: int64

<b>Exercise 7. How many foods ordered in total?</b>

In [22]:
total_foods = order_list['quantity'].sum()
print(f"Total foods ordered: {total_foods}")

Total foods ordered: 4972

<b>Exercise 8. Calculate the total income for the period in the dataset?</b>

In [ ]:
# clean $ sign
order_list['unit_price_clean'] = order_list['unit_price'].str.replace('$', '').astype(float)
# Calculate total income
total_income = order_list['unit_price_clean'].sum()
print(f"Total income: ${total_income:.2f}")

Total income: $34500.16

<b>Exercise 9. Find the total number of orders.</b>

In [24]:
total_orders = order_list['id'].nunique()
print(f"Total number of orders: {total_orders}")

Total number of orders: 1834

<b>Exercise 10. Find the average income for each order?</b>

In [25]:
avg_income_per_order = order_list.groupby('id')['unit_price_clean'].sum().mean()
print(f"Average income per order: ${avg_income_per_order:.2f}")

Average income per order: $18.81

<b>Exercise 11. How many different foods are ordered?</b>

In [26]:
unique_foods = order_list['food'].nunique()
print(f"Number of different foods ordered: {unique_foods}")

Number of different foods ordered: 50